$black: #232323;
$background: #af7da8b7;
$gray-line: #f6f6f6;
$orange: #fe5f1e;

$container-width: 90%;

$duration: 0.15s;

$main-green: #2fb48c;
$foreign-green: #53aa89;
$dark-green: rgba(71, 173, 105, 0.644);

$bc-beige: #d9e8d8;

$boxshadow-beige: #f5f5f5eb;
$boxshadow-lightwhite: #c1d9bf;
