@import '../../scss/variables.scss';

.filter {
    padding: 100px 0;
    &__complete {
        padding: 15px;
        background-color: $bc-beige;
        color: $main-green;
        box-shadow: 0 0 3px $boxshadow-lightwhite, 0 0 0 5px $boxshadow-beige;
        font-size: 20px;
        display: inline-flex;
        border-radius: 30px;
        color: $foreign-green;
        font-weight: 700;
        transition: all 0.3s ease-in-out;
        &:hover {
            background-color: #c1d9bf;
            box-shadow: 0 0 3px #d9e8d8, 0 0 0 5px $boxshadow-beige;
            transition: all 0.3s ease-in-out;
        }
    }
    @media (max-width: 620px) {
        padding: 60px 0;
    }
    @media (max-width: 500px) {
        padding: 40px 0;
    }
    @media (max-width: 400px) {
        padding: 25px 0;
    }
}
