@import '../../scss/variables.scss';

.input {
    display: flex;
    justify-content: center;
    &__container {
        display: flex;
        line-height: 130%;
        align-items: center;
        position: relative;
        margin-bottom: 40px;
        .input__image {
            position: absolute;
            left: 1rem;
            opacity: 0.4;
            width: 20px;
            height: 20px;
        }
        .input__area {
            height: 50px;
            font-size: 24px;
            line-height: 130%;
            padding-left: 2.5rem;
            border: 2px solid transparent;
            border-radius: 8px;
            outline: none;
            background-color: $bc-beige;
            color: $main-green;
            box-shadow: 0 0 3px $boxshadow-lightwhite, 0 0 0 5px $boxshadow-beige;
            transition: 0.3s ease;
            &::placeholder {
                color: $dark-green;
            }
        }
        .button_add {
            background-color: $bc-beige;
            color: $main-green;
            box-shadow: 0 0 3px $boxshadow-lightwhite, 0 0 0 5px $boxshadow-beige;
            outline: 0;
            border: 0;
            height: 50px;
            font-size: 24px;
            line-height: 130%;
            padding: 0 1rem;
            border-radius: 0px 8px 8px 0px;
            transition: 0.3s ease;
            &:hover {
                background-color: #b3e0b2;
                color: #36977a;
                transition: 0.3s ease;
            }
            &:active {
                background-color: #93a593;
                color: #1c2f2a;
                transition: 0.3s ease;
            }
        }
        @media (max-width: 420px) {
            .input__area {
                width: 260px;
            }
        }
        @media (max-width: 350px) {
            .input__image {
                display: none;
            }
            .input__area {
                padding-left: 0.5rem;
                width: 235px;
                font-size: 20px;
            }
            .button_add {
                font-size: 20px;
            }
        }
    }
}
