$title-green: #398d6d;

.complete__title {
    font-size: 35px;
    margin-bottom: 40px;
    letter-spacing: 0.1em;
    font-weight: 700;
    color: $title-green;
}
.timer {
    &__title {
        color: $title-green;
        font-size: 42px;
        letter-spacing: 0.1em;
        font-weight: 700;
    }
}

.error__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px 0;
    .error__smile {
        font-size: 100px;
        margin-bottom: 20px;
    }
    .description {
        font-size: 32px;
        font-weight: 700;
        color: $title-green;
    }
}
